body{
  background-color: #dddddd;
}

.jumbotron {
  color: #29a3a3;
  text-shadow: 2px 2px #1f7a7a;
  text-align: center;
  width: 85%;
}

#main {
  width: 83%;
  font-size: 20px;
  text-align: center;
}



#definition{
  display: none;
}

#definition2{
  display: none;
}

#definition3{
  display: none;
}

#definition4{
  display: none;
}
#definition5{
  display: none;
}

#definition6{
  display: none;
}

#definition7{
  display: none;
}

#definition8{
  display: none;
}
#definition9{
  display: none;
}

#definition10{
  display: none;
}

#definition11{
  display: none;
}

#definition12{
  display: none;
}

#definition13{
  display: none;
}

#definition14{
  display: none;
}

#definition15{
  display: none;
}

#definition16{
  display: none;
}

#definition17{
  display: none;
}

#definition18{
  display: none;
}

.clickable1{
  font-weight: bold;
  cursor: pointer;
}

.clickable2{
  font-weight: bold;
  cursor: pointer;
}
.clickable3{
  font-weight: bold;
  cursor: pointer;
}

.clickable4{
  font-weight: bold;
  cursor: pointer;
}
.clickable5{
  font-weight: bold;
  cursor: pointer;
}

.clickable6{
  font-weight: bold;
  cursor: pointer;
}
.clickable7{
  font-weight: bold;
  cursor: pointer;
}

.clickable8{
  font-weight: bold;
  cursor: pointer;
}
.clickable9{
  font-weight: bold;
  cursor: pointer;
}

.clickable10{
  font-weight: bold;
  cursor: pointer;
}
.clickable11{
  font-weight: bold;
  cursor: pointer;
}

.clickable12{
  font-weight: bold;
  cursor: pointer;
}
.clickable13{
  font-weight: bold;
  cursor: pointer;
}

.clickable14{
  font-weight: bold;
  cursor: pointer;
}
.clickable15{
  font-weight: bold;
  cursor: pointer;
}

.clickable16{
  font-weight: bold;
  cursor: pointer;
}
.clickable17{
  font-weight: bold;
  cursor: pointer;
}

.clickable18{
  font-weight: bold;
  cursor: pointer;
}
 li{
   padding-bottom: 10px;
 }
